$color-black: rgba(42, 42, 42, 0.77);

// RESPONSIVE BREAKPOINTS
$bp-largest: 76.25em; //1220px
$bp-large1: 60.06em; // 961px (for navbar)
$bp-large: 57.5em; //920px
$bp-medium: 33.63em; //538px
$bp-small: 21.63em; //346px

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;
   scroll-behavior: smooth;

   @media only screen and (max-width: $bp-large) {
      font-size: 50%;
   }
}

body {
   font-family: "Lato", sans-serif;
}

.container {
   margin: 0 1.2rem;
}

.heading-2 {
   font-size: 3.5rem;
   color: #d3d3d3;
   letter-spacing: 1px;
}

.section {
   transition: transform 1s, opacity 1s;
}

.section--hidden {
   opacity: 0;
   transform: translateY(8rem);
}
